{% extends "_base.html" %} {% block content %}
{% load widget_tweaks %}
<h2>My Books</h2>
<ul>
  {% for bc in bookcopies %}
  <li>
    <a href="{{ bc.get_absolute_url }}">
      {{ bc.book.title | default:bc.book.isbn }}
    </a>
  </li>
  {% endfor %}
</ul>
<div data-vue-component="barcode-scanner">
  <div class="barcode-scanner" v-cloak>
    <button @click="initCamera">Scan Barcodes</button>
    <div class="viewport" ref="viewport"></div>
    <div class="error">[[ error ]]</div>
    <slot></slot>
  </div>
  <h3>Add a new book</h3>
  <form action="{{ create_url }}" method="post">
    {% csrf_token %}
    {{ create_form.isbns | attr:"v-model:isbns" }}
    <input type="submit" value="Add" />
  </form>
</div>

<div id="barcode-scanner"></div>
<script src="/static/js/my-books.js"></script>
{% endblock %}
